
.caveat {
  font-family: "Caveat", cursive;
  font-size: 80px;
  font-weight: 500;
  font-style: normal;
  color: aliceblue;
}

*{
    background-color: black;
    text-align: center;
    align-items: center;
}


img{
    height: 300px;
    width: 500px;
    border: 5px solid yellow;
}

p{
    color: blue;

}
div{
    margin-top: 10%;
}
