body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.creative{
  color: darkorchid;
}

.tile-image{
  width: 300px;
  height: 200px;
  float: left;
}

.main{
  display: inline-block;
}

.left{
  display: inline-block;
}

div[class="left card"]{
  width: 800px;
  height: 300px;
  
}

div[class="right card"]{
  width: 800px;
  height: 400px;
  float: right;
}

h2[class="card-title"]{
  position: relative;
  left: 25px;
}

p[class="card-text"]{
  position: relative;
  left: 25px;
}

div[class="right card"] > p{
  position: relative;
  left: 25px;
}

.logo{
  position: relative;
  top: 20px;
}